<h1>Login Page</h1>
<br>
<p> Welcome to our site, your username should be your email address :</p>

  <%= form_tag(login_path) do %>
<p>
  <%= label_tag(:username)%>
  <%= text_field_tag(:username, params[:username], autofocus: true)%>
</p>
<p>
  <%= label_tag(:password)%>
  <%= password_field_tag(:password)%>
</p>
<p>
  <%= submit_tag("Log in", class: "btn btn-primary") %>
</p>
<% end %>

<%= link_to "Don't have an account? Sign up here.", signup_path%>
<br>
<%= link_to "Forgot your password? Click here.", forgot_path %>
